{% extends 'layouts/default.html' %}

{% block body %}

    {% include 'layouts/nav.html' %}

    <br/>
    <fieldset>
        <legend>Présentation</legend>
        <h2>Bienvenue cher visiteur</h2>
        <h3>Vous n'êtes toujours pas un client !</h3>
        <p>
            Si vous souhaitez réaliser une future commande, rendez-vous à l'onglet
            "Inscription" pour pouvoir vous inscrire.<br/>
            Après l'inscription, de nouveaux onglets uniquement destinés aux clients vont faire leurs apparitions
            vous permettant ainsi de profiter pleinement de vos avantages.
        </p>
            <br/>
    </fieldset>

{% endblock %}
