<nav id="navigation">
    <ul>
        <li><a href="/dashboard.html">Dashboard</a></li>
        <li><a href="/recrutement.html">Recrutement</a></li>
        <li><a href="/ext1">Add Device</a></li>
        <li><a href="/ext2">Add Network</a></li>
        <li><a href="/ext3">Add Site</a></li>
        <li><a href="/ext4">Add VLAN</a></li>
        <li><a href="/siteAdmin">View Vlan</a></li>
        <li><a href="/vlanAdmin">View Device</a></li>
        <li><a href="/infoblox">View Info</a></li>
        <li><a href="/networks">View Network</a></li>
        <li><a href="/logout">Déconnexion</a></li>
    </ul>
</nav>