<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../../static/styles/style.css">
        <title>VLAN Management</title>
    </head>
    <body>
        <header>
            <h1>VLAN Management</h1>
        </header>
    <div class="content">
        {% block body %}{% endblock %}
    </div>
        <div id="container">
            <div id="footer">
                <br/><footer>
                    <p>Site web réalisé avec PYTHON, HTML5 et CSS - Copyright © MAHBOUB BRAHIM 2020/2021 – Tous droits réservés. </p>
                </footer>
            </div>
        </div>
    </body>
</html>
